:root {
  --font: "Press Start 2P", system-ui;
  --font-sec: "IBM Plex Mono", system-ui;
  --color-blue: #03318c;
  --color-purple: #5300c8;
}

header {
  background-color: var(--color-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80px;
  font-size: 20px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 25%);
}

h1,
h2 {
  font-family: var(--font);
  text-align: center;
  font-size: 24px;
}

.contenedor {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 40px 60px;
  gap: 70px;
}

.productos__contenedor {
  width: 60%;
  padding: 40px;
}

.productos__contenedor h2 {
  margin: 40px;
}

.card__contenedor {
  display: flex;
  max-height: 971px;
  padding: 15px;
  gap: 10px;
  flex-wrap: wrap;
  box-shadow: -12px 10px 5.8px #00000044;
  overflow-y: auto;
}

.item__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-purple);
  width: 196px;
  height: 258px;
  border-radius: 10px;
  border: 3px solid black;
}

.item__ico {
  margin: 10px 0;
  width: 176px;
  height: 174px;
  border: 3px solid black;
  border-radius: 10px;
}

.titulo__producto {
  font-family: var(--font-sec);
  align-self: flex-start;
  color: white;
  font-size: 15px;
  margin: 5px 10px;
}

.precio__productos__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 5px;
}

.precio__producto {
  font-family: var(--font-sec);
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.precio__productos__contenedor img {
  width: 20px;
  cursor: pointer;
}

.agregar__producto {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-height: 517px;
  padding: 40px;
}
.agregar__producto h2 {
  margin: 40px;
}

.datos__producto input {
  box-sizing: border-box;
  border: 3px solid var(--color-blue);
  width: 100%;
  height: 48px;
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 30px;
}

.datos__producto input::placeholder {
  color: var(--color-blue);
  font-weight: 500;
  font-family: var(--font-sec);
  font-size: 16px;
}

.botones__producto {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 13px;
}

.botones__producto button {
  background-color: white;
  width: 100%;
  height: 45px;
  border-radius: 15px;
  border: 3px solid var(--color-blue);
  font-family: var(--font-sec);
  font-size: 15px;
  font-weight: 600;
  color: var(--color-blue);
  cursor: pointer;
}

.botones__producto button:first-child {
  background-color: var(--color-blue);
  border: none;
  color: white;
}

.footer {
  background-color: var(--color-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  padding: 64px 0;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 25%);
}

.footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer p {
  text-transform: uppercase;
  font-family: var(--font-sec);
}

footer p:last-child {
  margin-top: 20px;
  font-weight: 50;
}
